<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.languageenhancer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hindi Enhancer"
        android:supportsRtl="true"
        android:theme="@style/Theme.LanguageEnhancer">
        <activity android:name=".MonthsActivity"></activity>
        <activity android:name=".SubjectsActivity" />
        <activity android:name=".GreetingsActivity" />
        <activity android:name=".VegetablesActivity" />
        <activity android:name=".FruitsActivity" />
        <activity android:name=".BirdsActivity" />
        <activity android:name=".AnimalsActivity" />
        <activity android:name=".ColorsActivity" />
        <activity android:name=".PhrasesActivity" />
        <activity android:name=".FamilyMembersActivity" />
        <activity android:name=".NumbersActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>